body {
    background-color: rgba(234, 148, 148, 0.111);
    font-family: Arial;
}

.bio {
    text-align: center;
}

.photo1 {
    text-align: center;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

span {
    font-size: 16px;
}

.html-css {
    width: 550px; 
    display: block; margin: 0 auto;
}

.html {
    width: 400px;
    float: right 
}

.html2 {
    width: 250px;
    float: right 
}

.img img {
    width: 500px;
    height: auto;
    text-align: center;

}